/* Fonts  */
@font-face {
	font-family: 'Nunito-Regular';
	src: url('fonts/Nunito-Regular.eot');
	src: local('☺'), url('fonts/Nunito-Regular.woff') format('woff'), url('fonts/Nunito-Regular.ttf') format('truetype'), url('fonts/Nunito-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('fonts/Poppins-Bold.eot');
	src: local('☺'), url('fonts/Poppins-Bold.woff') format('woff'), url('fonts/Poppins-Bold.ttf') format('truetype'), url('fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('Poppins-Regular.woff') format('woff'), url('Poppins-Regular.ttf')  format('truetype'), url('Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),  url('Poppins-Medium.woff') format('woff'), url('Poppins-Medium.ttf')  format('truetype'), url('Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

/* General ----------------------------------------------------------------- */

body{
    font-family: 'Nunito-Regular', sans-serif;
    margin: 0 ;
}

p{
    color: #5B5766;
    font-family: 'Nunito-Regular', sans-serif;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}

.gradient-1{
    width: 12.938rem;
    height: 3.125rem;
    border: 1px solid linear-gradient(to right, #6852ED,#BA43FC);
    border-radius: 3.125rem;
    background-image: linear-gradient(to right, #6852ED,#BA43FC);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header  1 ----------------------------------------------------------------*/



.div-1-1{
    display: flex;
}

.div-1-1 ul{
    list-style: none;
    display: flex;
    position: relative;
    top: 0.938rem;
}

.div-1-1 li{
    margin: auto 1.875rem;
}

.div-1-1 li > a {
    text-decoration: none;
    color: #5B5766;
}
.div-1-1 li> a:hover{
    color: #554D89;
    font-weight: bold;
    font-size: 1.063rem;
    border-top: 2px solid;
    /* border-image: linear-gradient(#6852ED,#BA43FC); */
    padding-top: 1.813rem;
}

.div-1-2{
    width: 27.25rem;
    height: 18.313rem;
    margin-top: 17.813rem;
}

.div-1-2 h1{
    color: #554D89;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 3.125rem;
}

#p-1{
    margin-top: 0.281rem;
    margin-bottom: 2.688rem;
    font-size: 1.375rem;
    line-height: 2.063rem;
    color: #5B5766;
}

#div-1-2-1{
    display: flex;
}

#div-1-2-1 p:last-child{
    margin-left: 1.875rem;
    position: relative;
    top: 0.938rem;
}

.div-1-2 a{
    text-decoration: none;
    color: #554D89;
}

.div-1-2 a :last-child{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 1rem;
}

 
.gradient-1 a{
    color: white;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.019rem;
    padding: 1.25rem 2.438rem;
    text-decoration: none
}


/* Section Prices 2 -------------------------------------------------------------- */

.prices{
    display: flex;
    justify-content: space-between;
    margin-top: 22.063rem;
    margin-bottom: 7.5rem;
}

.prices .div-2-1 {
    max-width: 20rem;
    max-height: 31.625rem;
    box-shadow: -2px -4px 27px 0px rgba(0,0,0,0.08);
    padding: 3.875rem 4.438rem 3.063rem 3.688rem;
}

.prices h2{
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 1.25rem;
    color: #554D89;
}


#best-1{
    width: 5.375rem;
    height: 1.625rem;
    font-family: 'Poppins-Bold', sans-serif ;
    font-size: 0.625rem;
    color: #EF7171;
    text-transform: uppercase;
    background-color: #E1E4ED;
    border-radius: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.5rem;
}

#div-2-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.938rem;
}

.prices p > strong{
    color: #554D89;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 3.125rem;
    line-height: 3.75rem;
}

.prices p > strong::before{
    content: '';
    display: block;
    height: 0;
    width: 2.5rem;
    border-top: 2px solid #BA43FC;
    margin-bottom: 1.625rem;
}

.prices ul{
    list-style: none;
    color: #716C80;
    line-height: 1.875rem;
    padding-left: 1.813rem;
}

.marginul-2-1{
    margin-top: 3.5rem;
    margin-bottom: 3.625rem;
}


/* Section testimonial 3 -------------------------------------------------------- */

.testimonial{
    margin-top:7.438rem ;
    max-width: 100%;
    height: 33.438rem;
    text-align: center;
    background-color: #E1E4ED;
    background-image: linear-gradient(to right, rgba(225, 228, 237, 0.705), rgba(225, 228, 237, 0.705)), url(medias/woman.png), url(medias/shape.png);
    background-position: center, 2% 108%, 105% 105% ; 
    background-repeat: no-repeat;
}




#div-3-1{
    max-width: 46.875rem;
    height: 22.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-3-1 h2{
    color: #554D89;
    font-family: 'Poppins-Bold',sans-serif;
    font-size: 2.125rem;
    margin: 5.313 0 0;
}

#p-3-1{
    line-height: 1.688rem;
    font-size: 1.125rem;
    margin-top: 1.313;
}

#p-3-2{
    margin: 2.25rem 0 0.813rem;
}

#p-3-3{
     font-family: 'Poppins-Bold',sans-serif;
     color: #554D89;
     font-size: 1.25rem;
     margin: 0;
}


/* Section solutions 4 ----------------------------------------------------------- */

.solutions{
    margin-top: 6.875rem;
    display: flex;
}


.div-4-boxes{
    width: 22.5rem;
    min-height: 14.313rem;
    box-shadow: -2px -4px 27px 0px rgba(0,0,0,0.08);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin: 0 1.875rem 1.875rem 0;
}

.div-4-boxes h3{
    color: #554D89;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 1.375rem;
    padding: 0 2.125rem;
}

.div-4-boxes p{
    padding: 0 2.125rem;
    line-height: 1.688rem;
}


.div-4-boxes:hover{
    background-image: linear-gradient(to right,#6852ED,#BA43FC) ;
    box-shadow: 1px -2px 25px -3px rgba(104,82,237,1);
}
.div-4-boxes:hover h3{
    color: white;
}

.div-4-boxes:hover p{
    color: white;
}

.readmore{
    text-decoration: none;
    color: white;
    font-family: 'Poppins-Regular', sans-serif;
    padding: 3.125rem 3.125rem 3.125rem 0;
}

#div-4-3{
    margin-top: 1.875rem;
}

#div-4-1{
    margin-left: 3.75rem;
    margin-top: 7.25rem;
    order: 3;
    min-width: 20.625rem;
    min-height: 18.438rem;
}

#div-4-1-1 h2{
    font-size: 2.063rem;
    font-family: 'Poppins-Bold', sans-serif;
    color:#554D89;
}

#div-4-1-1 p{
    font-size: 1.125rem;
    line-height: 1.688rem;
    margin-top: 1.75rem;
    margin-bottom: 3rem;
}



/* Section services 5 ------------------------------------------------------------ */


.services{
    display: flex;
    margin-top: 7.375rem;
    margin-bottom: 7.5rem;
}

#div-5-2 > h2{
    color: #554D89;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 2.125rem;
}

#img-5-1{
    width: 40.688rem;
    height: 29.625rem;
    border-radius: 14.813rem 14.813rem 14.813rem 80px;
}

#div-5-2{
    margin-left: 4.5rem;
    margin-top: 5.875rem;
}

#div-5-2-1{
    display: flex;
}

#div-5-2-1 p:last-child{
    margin-left: 1.875rem;
    position: relative;
    top: 0.938rem;
}


#div-5-2-1 p:last-child a{
    text-decoration: none;
    color: #554D89;
    font-style: 'Poppins-Regular', sans-serif;
}


/* Footer 6 ------------------------------------------------------------------------------- */



/* Form  */
#div-6-1{
    width: 71.25rem;
    height: 6.875rem;
    background-color: #6852ED;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    padding-left: 5.188rem;
}

input[ type=email]{
    color: white;
    background-color: #6852ED;
    border: none;
    font-size: 1.135rem;
}


#form-1-1{
    width: 17.5rem;
    height: 1.87rem;
}

#form-1-1::placeholder{
    color: white;
    font-size: 1.375rem;
}

#send{
    width: 6.438rem;
    height: 3.125rem;
    margin-left: 45.625rem;
    border: 2px solid #707070;
    border-radius: 3.125rem;
    color: white;
    background-color: #6852ED;
}

/* Form fin  */

#div-6-2{
    margin-top: 6.25rem;
    display: flex;
}

#div-6-2-1{
    width: 22.5rem;
    height: 5.063rem;
}

#div-6-2-1 p{
    line-height: 1.688rem;
    font-size: 1.125rem;
}

#div-6-2-2{
    width: 17.875rem;
    height: 11.688rem;
    margin:0 4.188rem;
}

#div-6-2-2 address{
    line-height: 1.688;
    padding-left: 2.5rem;
    
}

#div-6-2-2 a{
    text-decoration: none;
    color: #716C80;
    font-size: 1.125rem;
}

#div-6-2 h3{
    color: #554D89;
    font-size: 1.25rem;
    font-family: 'Poppins-Bold', sans-serif;
}

#div-6-2-3 nav > ul{
    display: flex;
    list-style: none;
    line-height: 1.688rem;
    color: #554D89;
    padding: 0;
}

#div-6-2-3 nav > ul li:hover{
    color: #EF7171;
}

#div-6-2-3-2{
    margin-left: 4.188rem;
}


#div-6-3 p{
    font-size: 0.875rem;
    font-family: 'Poppins-Regular', sans-serif;
    color: #716C80;
}

#company{
    font-family: 'Poppins-Bold', sans-serif;
}

#author a{
    text-decoration: none;
    color: #6852ED;
}

#div-6-3::before{
    content: '';
    display: block;
    width: 5rem;
    border-bottom: 2px solid #D8D8D8;
    margin:  2.5rem 0;
}





/* Responsive ----------------------------------------------------------- */



@media only screen and (min-width:992px) and (max-width: 1200px) 
{
    .container{
        max-width: 100%;
        padding: 1rem;
    }
    
    /* Header  */

    .div-1-1{
        width: 100%;
    }

    .div-1-1 ul{
        font-size: 1.25rem;
    }

    /* Prices  */

    .prices{
        width: 100%;
        justify-content: start;
    }

    .prices .div-2-1{
        padding: 1.5rem;
        width: 15rem;
        height: 150%;
    }

    #margindiv-2-1{
        margin: 0 10px;
    }

    #prices p > strong{
        font-size: 2rem;
        line-height: normal;
    }

    
    /* Testimonial  */

    .testimonial{
        max-width:100%;
    }


    /* Solutions  */
    .solutions{
        flex-wrap: wrap-reverse;
    }

    #div-4-1{
        max-width: 50%;
    }


    /* Services  */

    .services{
        flex-wrap: wrap-reverse;
    }

    #div-5-2{
        max-width: 50%;
        margin-bottom: 2rem;
    }

    /* Footer  */

    #div-6-1{
        width: 50%;
        margin-left: 10%;
        padding: 0%;
    }

    #form-1-1{
        margin-left: 50px;
        margin-bottom: 1rem;
    }

    #send{
        margin-left: 50%;
    }

    #div-6-2-3 nav > ul{
        flex-direction: column;
        line-height: 2rem;
        font-size: 1.2rem;
    }

    #div-6-2-3-2{
        margin-left: 0;
    }


}



@media only screen and (min-width:768px) and (max-width: 991.98px)
{
    .container{
        max-width: 100%;
        padding: 1rem;
    }
    
    /* Header  */

    .div-1-1{
        width: 100%;
        flex-direction: column;
        align-items:  center;
    }

    .div-1-2{
        margin: 5rem auto;
    }

    .div-1-1 ul{
        font-size: 1.25rem;
    }

    /* Prices  */

    .prices{
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-top: 8rem;
    }

    .prices .div-2-1{
        padding: 1.5rem;
        width: 15rem;
        height: 150%;
    }

    .marginresponsive-2-1{
        margin-bottom: 1rem;
    }

    #prices p > strong{
        font-size: 2rem;
        line-height: normal;
    }

    
    /* Testimonial  */

    .testimonial{
        max-width:100%;
        background-image: none;
    }


    /* Solutions  */
    .solutions{
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin-top: 0;
    }

    #div-4-1{
        max-width: 50%;
    }


    /* Services  */

    .services{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    #div-5-2{
        max-width: 50%;
        margin-bottom: 2rem;
    }

    /* Footer  */

    #div-6-1{
        width: 50%;
        margin: auto;
        padding: 0%;
    }

    #form-1-1{
        margin-left: 50px;
        margin-bottom: 1rem;
    }

    #send{
        margin-left: 35%;
    }

    #div-6-2-3 nav > ul{
        flex-direction: column;
        line-height: 2rem;
        font-size: 1.2rem;
    }


    #div-6-2-3 nav > ul li{
        list-style: square;
    }

    #div-6-2-3-2{
        margin-left: 0;
    }


    
}